/*
Theme Name: Storefront Child
Theme URI: https://woocommerce.com/storefront/
Template: storefront
Author: Automattic
Author URI: https://woocommerce.com/
Description: Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout &amp; color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Tags: e-commerce,two-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,full-width-template,threaded-comments,accessibility-ready,rtl-language-support,footer-widgets,sticky-post,theme-options,editor-style
Version: 4.1.3.1667898145
Updated: 2022-11-08 09:02:25

*/

body.woocommerce #primary,
body.woocommerce-checkout #primary {
	width: 100%;
    
}

/* intro screen */

.intro {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #004C9C;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDF7C6 !important;

}

.site-header .custom-logo-link img {
    width: 100%;
    margin-left: 10px;
    max-width: 210px;
}
.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s ;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s ;
}

#site-header-cart > li:nth-child(1) > a > span.woocommerce-Price-amount.amount {
    display: none;
}

#site-header-cart > li:nth-child(1) > a > span.count {
    opacity: 1;
}


#site-header-cart > li:nth-child(1) > a {
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

#site-header-cart > li:nth-child(1) > a > span.count {
    padding-right: 30px;
}




 h3, h4, h5, ul {
    color: #004C9C !important;
    font-family: 'Arial Rounded MT Bold', sans-serif;
                                                
}

h2 {
    color: #004C9C !important;
    font-family: 'Arial helvetica', sans-serif;
}

p {
    color: #004C9C !important;
    font-family: 'Arial helvetica', sans-serif;
                                                
}


h6 {
    color: #004C9C !important;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    
    font-family: 'Arial Rounded MT Bold', sans-serif;
    
                                                
}

#colophon > div > div.pages > a{
    font-family: Arial, Helvetica, sans-serif;
    color: #004C9C !important;
}
#colophon > div > div.pages > a:hover {
    opacity: 0.7;
  }

.site-footer a {
    text-decoration: none;
}

.site-footer {
    padding-bottom: 0px;
}

h1 {
    font-family: 'Apple Chancery', sans-serif;
    font-size: 100px;
    color: #004C9C;
    margin-bottom: 20px;
                                                
}

ul.menu li a {
    color: #004C9C;
   
}

#menu-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page {
    background-color: #FDF7C6;
}

.custom-logo {
    object-fit: scale-down;
    height: 75px;
}

#masthead {
    background-color: #FDF7C6;
    
}

#masthead > div.col-full > div.site-branding > a > img{
    max-width: 125px !important;
}

#heading-frontpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
   
}

.woocommerce-products-header__title.page-title {
    display: none;
}

.storefront-sorting {
    display: none;
}



.product {
    background-color: #ffffff;

}



.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.divider_line {
    height: 2px;
    width: 80%;
    background-color: #004C9C;

}

.divider1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider_line1 {
    height: 1px;
    width: 100%;
    background-color: #004C9C;

}

.divider2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -10px;
}

.divider_line2 {
    height: 1px;
    width: 100%;
    background-color: #004C9C;

}

.single-product div.product table.variations .value {
    margin-bottom: 0em;
}

.single-product div.product p.price {
    font-size: 0em;
    margin: 0em 0;
    margin-bottom: 5px;
}

.button {
    margin-bottom: 1.2360000000000042em !important;
}

.site-footer{
    background-color: #FDF7C6;
    
}

.col-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    width: 33vw;
    height: 200px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.socials {
    width: 33vw;
    height: 200px;
    display: flex;
   
    align-items: center;
    flex-direction: column;
}

.social_icon {
    display: flex;
    flex-direction: row;
}

.pages {
    width: 33vw;
    height: 200px;
    display: flex;
   
    align-items: center;
    flex-direction: column;
}

.bi {
    color: #004C9C !important;
    padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.bi:hover {
    opacity: 0.7;
  }

  a:focus,
  .focus a {
      outline: none !important;
  }

  .entry-title {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 50px;
  }

  .col2-set {
    margin: 0px !important;
  }

  .col-1 {
    width: auto;
  }

  .col-2 {
    width: auto;
  }

  .input-text {
    background-color: #ffffff !important;
  } 

  .widget-area {
    display: none;
  }

  .cart_totals, .cart-collaterals {
    width: 100% !important;
    float: center !important;
  }

  .site-header {
    border-bottom-color: #FDF7C6 !important;
}

.site-header-cart {
    padding-right: 30px;
}

.menu-item {
    
    border-left: #004C9C 1px solid;
    padding-right: 20px;
    padding-left: 20px;
    
}

#menu-item-33{
    border-right: #004C9C 1px solid;
}
li {
    list-style-type: none;
}

/* style hamburger menu */


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    
    z-index: -1;
}

#hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: absolute;
      top: 40px;
      right: 20px;
      width: 35px;
      height: 25px;
      display: none;
      border: none;
      cursor: pointer;
      padding: 0px;
      margin: 0px;
      
      font-family: 'Cabin', Sans-serif;
      background: linear-gradient(
        to bottom, 
        #004C9C, #004C9C 25%, 
        #FDF7C6 25%, #FDF7C6 35%, 
        #004C9C 35%, #004C9C 60%, 
        #FDF7C6 60%, #FDF7C6 75%, 
        #004C9C 75%, #004C9C 100%
      ) ;
  }
     
  
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      right: 0px;
      width: 250px;
      height: 100%;
      background-color: #004C9C;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }

  #menu-menu-1 {
    margin: 0%;
  }
  

  
  #hamburger-menu h3 {
    color: #FDF7C6;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: #FDF7C6;
    font-size: 1.3rem;
    text-decoration: none;
    font-size: 16px;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
     
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }

  #site-header-cart > li.current-menu-item > a {
    color: #004C9C !important;
  }

  #site-header-cart > li:nth-child(2) > div {
    background-color: #Ffffff !important;
  }

  .main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a {
    color: #004C9C !important;
    padding-bottom: 5px;
    border-bottom: #004C9C solid 1px;
}

.site-main ul.products.columns-3 li.product {
    box-shadow: 2px 2px 6px  #ded69e;
    background-color: #Ffffff;
}
.site-main ul.products.columns-3 li.product:hover {
    box-shadow: 5px 5px 6px  #ded69e;
}


/* style af single product page */

.single-product .product {
    padding: 40px;
}
.single-product .entry-title {
    font-size: 30px;
    
}

.woocommerce-Price-amount {
    font-size: 18px;
}

.button.alt, .widget-area .widget a.button.alt {
    background-color: #004c9c;
    border-color: #004c9c;
    color: #ffffff;
    width: 70%;
}

.single-product div.product table.variations select {
    max-width: 70%;
    vertical-align: middle;
    padding: 10px;
    color: #004C9C;
    border-color: #004C9C;
}

#product-52 > div.summary.entry-summary > div.product_meta > span.posted_in{
    display: none;
}

.edit-link {
    display: none;
}

.single-product .product {
    background-color: #FDF7C6;
}

/* style af til top knap */

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #FDF7C6;
    color: #004C9C; 
    cursor: pointer; 
   
    border-radius: 10px; 
    font-size: 18px; 
  }

  #myBtn:hover {
    opacity: 0.7; 
  }


  .button.alt, .widget-area .widget a.button.alt {
    border-radius: 3px;
    width: 100%;
}


.quantity .qty {
    
    margin-bottom: 20px;
}

.hentry .entry-content a.button, .hentry .entry-content a.components-button:not(.is-link), .hentry .entry-content a.wp-block-button__link {
    border-radius: 3px;
    width: 100%;
}



.woocommerce div.product form.cart.variations_form .tawcvs-swatches .swatch.swatch-label, .woocommerce div.product form.cart.variations_form .tawcvs-swatches .swatch-show-more.swatch-label, .woocommerce.archive form.cart.variations_form .tawcvs-swatches .swatch.swatch-label, .woocommerce.archive form.cart.variations_form .tawcvs-swatches .swatch-show-more.swatch-label, .woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch.swatch-label, .woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch-show-more.swatch-label {
    width: 28px;
}

.site-header-cart .cart-contents {
    display: block;
  }
  



  #main > ul > li.product.instock.product_cat-alle_produkter > a.button.wp-element-button:hover {
    opacity: 0.7 !important;
  }

  #site-header-cart > li:nth-child(1) > a:hover {
    opacity: 0.7 !important;
    color: #004C9C !important;
  }

  ul.products, .wc-block-grid__products {
    margin-top:40px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 2px 2px #ded69e;
  }

  #menu-menu {
    overflow: hidden;
    background-color: #FDF7C6;
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
   

  }

  #menu-menu a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
  }
 


  .woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    margin-bottom: 2.617924em;
    background-color:#004C9C;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: 0.6180469716em solid rgba(0,0,0,.15);
    padding: 1em 2em 1em 3.5em;
    position: relative;
    list-style: none outside;
}


.hentry {
    margin: 0 0 4.235801032em;
    margin-top: 20px;
}

.site-footer a:not(.button):not(.components-button) {
    color: #004C9C;
}
.site-footer a:not(.button):not(.components-button):hover {
    opacity: 0.7;
}

#wc-stripe-cc-form > div.stripe-source-errors > ul > li {
    color:#ffffff;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
   
    color: #fff !important;
  
}


  
  @media screen and (max-width: 750px) {

    #primary {
        margin-top: -30px;
    }

    .site-header-cart .cart-contents {
      display: block;
    }

    #site-header-cart > li:nth-child(1) > a {
        position: fixed;
    bottom: 0px;
    background-color: #Ffffff;
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-right: 0px;
    }



   .site-header-cart .cart-contents::after {
    display: inline-block;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "ïŠ‘";
    line-height: 1.618;
   }
    

    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 0px;
        margin-top: 10px;
        font-family: 'Apple Chancery', sans-serif;
    }

    h4 {
        font-size: 18px;
    }

    h6, a {
        font-size: 12px;
    }


    #masthead{
        margin-bottom: 0px;
    }

    .custom-logo {
        width: 50px;
        height: 50px;
    }
    #logo > a > img {
        max-width: 153px;
    }

    .col-full {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .contact, .socials, .pages {
        width: 80vw;
        height: 110px;
    }

    .site-content {
        
        margin-bottom: -130px;
    }
    
    .button.alt, .widget-area .widget a.button.alt {
        
        width: 100%;
    }

    .wc-proceed-to-checkout {
       
        margin-bottom: -50px;
    }

    
    button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
        
    width: 90%;
    }

    #post-7 > div.entry-content > div > form > table > tbody > tr:nth-child(4) > td {
        background-color: #fbfbfb;
        padding: 20px;
        text-align: center;
    }

    .entry-title {
        margin-bottom: 20px;
    }

    #main > p {
        margin-top:20px;
    }

    #myBtn {
        width: 100%;
        bottom: 60px; 
        right: 0px;
        
      }

  }

